
/* ----------RESET START---------- */

* {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  outline: none;
  text-decoration: none;
  font-family: inherit;
  box-sizing: border-box;
}
ol,
ul,
li {
  list-style: none;
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
a {
  cursor: pointer;
  color: inherit;
}
a img {
  border: none;
}

img,
svg {
  display: block;
}

textarea {
  resize: none;
}

button,
input,
textarea,
select {
  appearance: none !important;
  border-radius: 0;
}

/* ----------RESET END---------- */


body{
  font-family: 'Special Elite', cursive;
  font-weight: 500;
  font-size: 16px;
  background-color: rgb(236, 224, 212);
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;
}

img{
  height: 15%;
  z-index: 2;
  position: fixed;
  top: 70%;
  right: 0%;
  transform: rotate(-25deg);
}

